body {
	font-family: verdana, arial, sans-serif;
	background: url(space.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	margin-top: 5px;
	color: #E6E6E6;
	position: absolute;
	top: 0px; left: 30%;
	font-size: 60px;
	font-weight: bold;
	z-index: 0;
}

h2 {
	margin: 5px 0px 0px 5px;
	font-weight: bold;
	font-size: 28px;
	color: #E6E6E6;
}

p {	
	margin: 5px 0px 0px 7px;
	font-weight: bold;
	font-size: 18px;
	color: #E6E6E6;
}

#title {
	position: absolute;
	top: 0px;
	left: 620px;
	z-index: 0;
}

#board_div {
	margin-top: 50px;
	position: relative;
	left: 200px; width: 750px;
	height: 90%;
	/*background-color:rgba(115,195,252,0.3);*/
	z-index: 0;
}

#board, #top_canvas {
	position: absolute;
	top: 80px;
	left: 130px;
	border-radius: 30px;
	background: #084B8A;
	border: 4px solid black;
}

#board {
	border-radius: 30px;
	box-shadow: 20px 20px 20px;
	z-index: 0;
}

#top_canvas {
	background: none;
	display: none;
	z-index: 1;
}

#check_guess_div {
	position: absolute;
	top: 710px; left: 200px;
	width: 100%;
	z-index: 0;
	padding: 40px;
}

#check_guess {
	position: absolute;
	top: 0; left: 0;
	text-decoration: none;
	border: none;
	text-align: center;
	border-radius: 20px;
	background: #084B8A;
	padding: 20px;
	color: #FAFAFA;
	font-size: 24px;
	font-weight: bold;
	box-shadow: 10px 10px 10px black;
	z-index: 1;
}

#check_guess:hover {
	background: #045FB4;
}

#instructions, #controls {
	width: 500px;
	height: 260px;
	left: 850px;
	border-radius: 30px;
	padding: 5px 20px 5px 20px;
	position: absolute;
	background-color:rgba(8,75,138,0.4);
	z-index: 0;
}

#instructions {
	top: 130px;
}

#controls {
	top: 465px;
}